{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .nxt-allCourses__hero {
        background-image: url('{% if section.settings.background_image != blank %}{{ section.settings.background_image | image_url: width: 1920 }}{% else %}{{ 'courses-bg.png' | asset_url }}{% endif %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        padding: {{ section.settings.padding_top }}px 15px {{ section.settings.padding_bottom }}px;
        min-height: 397px;
    }

    .nxt-courseHero__container {
        display: flex;
        gap: 20px;
        max-width: 1311px;
        width: 100%;
        margin: 0 auto;
    }


    .nxt-courseHero__title {
        color: #FFFFFF;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        margin: 0 0 10px;
    }

    .nxt-courseHero__description {
        color: #FFFFFF;
        font-family: 'Comic Neue', cursive;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
    }

    .nxt-courseHero__image {
        max-width: 422px;
        width: 100%;
        flex-shrink: 0;
      position: relative;
      z-index: 1;
    }

    .nxt-courseHero__image img {
        margin-bottom: -34px;
        max-width: 100%;
        width: 100%;
        object-fit: contain;
    }

    @media (max-width: 1024px) {
        .nxt-courseHero__container {
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    @media (max-width: 767px) {
        .nxt-allCourses__hero {
            padding-top: 40px;
        }
        .nxt-courseHero__title {
            font-size: 34px;
        }
        .nxt-courseHero__description {
            font-size: 14px;
        }
    }
{%- endstyle -%}

<div class="nxt-allCourses__hero {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="nxt-courseHero__container">
    <div class="nxt-courseHero__content">
      <h1 class="nxt-courseHero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      {%- if section.settings.show_collection_description -%}
        <div class="nxt-courseHero__description rte">
          {% if collection.description != blank %}
            {{ collection.description }}
          {% else %}
            {{ section.settings.description }}
          {% endif %}
        </div>
      {%- endif -%}
    </div>
    <div class="nxt-courseHero__image">
      {% if section.settings.hero_image != blank %}
        <img
          class="nxt-icon"
          src="{{ section.settings.hero_image | image_url: width: 422 }}"
          alt="all courses banner"
          width="422"
          height="auto"
        >
      {% else %}
        <img
          class="nxt-icon"
          src="{{ 'all-courses-banner.png' | asset_url }}"
          alt="all courses banner"
          width="422"
          height="auto"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "IXL offers more than 100 Reception maths skills and games to explore and learn! Not sure where to start? Go to your personalised Recommendations wall to find a skill that looks interesting, or select a skill plan that aligns to your textbook, national curriculum, or standardised test."
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top Padding",
      "default": 78
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
